
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/header-login.css">
    
</head>

<body>
    <header>
        <nav class="navbar">

            <div class="wrapper-logo">
                <h1 id="titulo">NLGo!</h1>
            </div>

           
            <div class="wrapper-opcLogin">
                <ul class="ul-list">
                    <li class="li-opc">
                        <a href="/Html/coupon.html"><img class="header-icon " src="/image/icons/icon-estadios.png" alt=""></a>
                    </li>
                    <li class="li-opc">
                        <a href="/Html/events.html"><img class="header-icon" src="/image/icons/icon-lugares.png" alt=""></a>
                    </li>
                    <li class="li-opc">
                        <a href="/Html/place.html"><img class="header-icon" src="/image/icons/icon-favorito.png" alt=""></a>
                    </li>
                    
                      
                </ul>
            
            </div>

        
            <div class="wrapper-perfil">
              
              <a href="/Html/profile.html"><img  class="img-perfil"  src="/Image/snoopy-profile.jfif" alt=""></a>
            </div>


        </nav>
    </header>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>
